<!doctype html>
<html data-ng-app="myApp">
<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="../../css/bootstrap.css">
	<style>
		.radio {
			display:inline-block;
			margin-left:20px;
			cursor:pointer;
		}
		.sort {
			border-bottom:1px solid grey;
			padding: 10px 10px 10px 0;
		}
		.container{
			margin-top:5%;
			margin-bottom:5%;
			padding:10px;
			text-align:center;
			background:white;
			box-shadow: 0 0 10px rgba(0,0,0,0.5); 
		}
		body {
			background:#E5E5E5;
		}
		.main {
			padding:2%;
		}
		label {
			margin-right:20px;
		}
		li {
			list-style-type:none;
		}
	</style>
</head>
<body>
<div class = "container" data-ng-controller="someController">
	<div class="row-fluid">
		<h3> Пример использования директивы <b>data-ng-switch</b>  в AngularJS.</h3>
	</div>	
	<div class="row-fluid sort">
		<label class="radio" data-ng-repeat="button in switchValue">
				<input type="radio" data-ng-model="data.mode" value="{{button.value}}" name="switchValue" />
				{{button.label}}
		</label>
	</div>
	<div class="row-fluid main">
		<div data-ng-switch on="data.mode">
			<div data-ng-switch-when="Frontend">
				<ul>
					<li data-ng-repeat="item in front">
						<abbr title="{{item.name}}">{{item.name}}</abbr>
					</li>
				</ul>
			</div>
			<div data-ng-switch-when="Backend">
				<ul>
					<li data-ng-repeat="item in back">
						<abbr title="{{item.name}}">{{item.name}}</abbr>
					</li>
				</ul>
			</div>
			<div data-ng-switch-when="QA">
				<ul>
					<li data-ng-repeat="item in qa">
						<abbr title="{{item.name}}">{{item.name}}</abbr>
					</li>
				</ul>
			</div>
			<div data-ng-switch-when="JAVA">
				<ul>
					<li data-ng-repeat="item in java">
						<abbr title="{{item.name}}">{{item.name}}</abbr>
					</li>
				</ul>
			</div>
			<div data-ng-switch-default>
				Выберите направление для просмотра (<small><i>данные несут только "тестовый" смысл.</i></small>)
			</div>
		</div>
	</div>
</div>
<script src="../../js/angular.min.js"></script>
<script type="text/javascript">
var myApp = angular.module('myApp', []);
myApp.controller('someController', function($scope) {

	$scope.switchValue = [{ value: 'Frontend', label: 'Фронтенд'},
						  { value: 'Backend', label: 'Бэкенд'},
					      { value: 'QA', label: 'Тестирование'},
					      { value: 'JAVA', label: 'Java'}
					    ];
	$scope.data = {};						
	$scope.back = [ { name: 'PHP 5.5+'},
				    { name: 'Zend Framework 2'},
				    { name: 'Symfony 2'}
				 ];
	
	$scope.front = [{ name: 'JavaScript'},
				    { name: 'HTML5'},
				    { name: 'CSS'},
				    { name: 'Bootsrap'}
				 ];	
				
	$scope.qa =  [{ name: 'Virtual Box'},
				  { name: 'Firebug'},
				  { name: 'Virtual Box'},
				  { name: 'bugtracking '}
				];
	$scope.java =  [{ name: 'Hadoop'},
				    { name: 'BigData'},
				    { name: 'MultiThreading'},
				    { name: 'Java EE '},
				    { name: 'Spring '},
				    { name: 'hibernate '}
				];			
});
</script>
</body>
</html>